body{
    background-color: #FFE6E6;
}
    header {
    background-color: #FFE6E6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    max-height: 50px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 20px;
    font-family: "Caveat", cursive;
    transition: color 0.3s ease;
    transition: border 0.3s ease;
}
nav a:hover {
    color: #8E7AB5;
    border: 2px solid #8E7AB5;
}
.image-section img {
    height:600px;
    width: 100%;
    display: block;
}
.image-section {
    position: relative;
    text-align: center;
}
.image-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff6699;
}
.image-text h1 {
    font-family: "Caveat", cursive;
    font-size: 45px;
    margin-bottom: 10px;
}
.content{
    font-size: 24px;
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
    border: 1px solid #8ACDD7;
    border-radius: 5px;
    box-shadow: 0 0 10px #8ACDD7;
}
.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    height:50px;
}
.footer-content {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}

.footer-logo img {
    max-height: 40px;
}

.footer-links ul {
    background-color: #333;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-links li {
    background-color: #333;
    margin-right: 20px;
}

.footer-links a {
    background-color: #333;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-social a {
    background-color: #333;
    margin-right: 10px;
}
.footer-social img{
    height:40px;
    width:40px;
}
#facebook{
    height:40px;
    width:50px;
}

.footer p {
    background-color: #333;
    margin-top: 100px;
    font-size: 14px;
}

